<!DOCTYPE html>
<html>

    <head>
        <style>

            div{
                position: relative;
                right: 20px;
                color: red;
            }
            body{
        display: flex;
        
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 100px; 
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
      
       
        
      }
      h3{
        color: red;
      }
        </style>
</head>

    <body>
        <form action="/resul" method="POST">
        <h3>Search Employee Details</h3>
        
        <input type="text" name="idname"  placeholder="search"></input>
        <button type="submit"> search</button>
         </form>
         </div>
        
        
    </body>
</html>